/*Nav Bar*/
header {
	width: 100%;
	height: 100vh;
	background-color:ghostwhite;
	background-size: cover;
}

.homeBtn {
	line-height: 60px;
	position: fixed;
	float: left;
	margin: 16px 46px;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 2px;
}

.menu-icon {
	line-height: 60px;
	width: 100%;
	background: #000;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	cursor: pointer;
	color: #fff;
	display: none;
}


